<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.newsfeedapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Home/Main activity-->
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Headlines activity-->
        <activity android:name=".Activities.HeadlinesActivity">

        </activity>

        <!-- Favourites activity-->
        <activity android:name=".Activities.FavouritesActivity">

        </activity>

        <!-- Newsstand activity-->
        <activity android:name=".Activities.TrendingNewsActivity">

        </activity>

        <!-- Business activity-->
        <activity android:name=".Activities.BusinessNewsActivity">

        </activity>

    </application>

</manifest>